<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="ConnectionZhiNeng" value="packet size=4096;user id=sa; PWD ='Taokuaiche2011'; data source=192.166.50.191,21433;persist security info=False;initial catalog='TKC_OK';Connect Timeout=30000;Asynchronous Processing=true;"/>
    <add key="ConnectionAP" value="packet size=4096;user id=sa; PWD ='Taokuaiche2011'; data source=192.166.50.191,21433;persist security info=False;initial catalog='AutomaticDrive';Connect Timeout=30000;Asynchronous Processing=true;"/>
    <!--<add key="ConnectionAP" value="packet size=4096;user id=sa; PWD ='Taokuaiche2011'; data source=.;persist security info=False;initial catalog='AutomaticDrive';Connect Timeout=30000;Asynchronous Processing=true;"/>-->
    <add key="AppKey" value="12341041"/>
    <add key="AppSecret" value="e54f4edc5ec2a485373fadac81e4cb5f"/>
    <add key="TimeOut" value="60"/>
    <add key="KeywordBankTableName" value="tb_keyword_bank"/>
    <add key="C_Url" value="http://gw.api.taobao.com/router/rest"/>
    <add key="TopSessions" value="6100d2186cd9294b7065dc7898f531dd6e4f490baed65b9695267157"/>
    <add key="UserName" value="稅囯王"/>
    <!--软件名称-->
    <add key="App_Title" value="安心代驾手机版数据分析"/>
    <!--淘快词订购代码-->
    <add key="ArticleCode" value="ts-25420"/>
    <!--淘快词托管版的收费代码-->
    <add key="ItemCode" value="ts-25420-v4"/>
    <!--消息队列配置-->
    <add key="MQ_HostName" value="115.182.89.51"/>
    <add key="MQ_Port" value="5672"/>
    <add key="MQ_UserName" value="sem"/>
    <add key="MQ_Password" value="shiqi2014"/>
    <add key="MQ_VirtualHost" value="sem"/>
  </appSettings>
  <!--Log4net配置************************************************************************************************-->
  <log4net>
    <logger name="Logger">
      <level value="ALL" />
      <appender-ref ref="FileAppenderAX"></appender-ref>
    </logger>
    <appender name="FileAppenderAX" type="log4net.Appender.RollingFileAppender">
      <param name="File" type="" value="D:\Logs\Win\"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyyMMddHH.TXT"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %c [%M] : %message%newline" />
      </layout>
    </appender>
  </log4net>
  <!--Log4net配置************************************************************************************************-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>